<!-- views-partials/footer.ejs -->


<!-- // remember body  has been opened-->
  <!-- // remember main div container has been opened-->  
    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text footer-custom">Maddalena Carnaghi - La mia guida di Brescia</span><br>
        <span class="text footer-custom"><i class="pe-2 fas fa-mobile-screen"></i>+39 3477667008</span><br>
        <span class="text footer-custom"><i class="ps-4 pe-2 fas fa-at"></i>lamiaguidadibrescia@proton.me</span><br>
        <span class="text footer-custom">CF CRNMDL79B45F205I  P.IVA 04494850987</span>
        <br><br>
        <span class="text footer-custom">Foto: Francesca Simoni</span>
        <br>
        <span class="text footer-custom">Logo e video: Giada Crispiels</span>
      </div>
    </footer>



  <!-- // close main div container -->  
  </div>
<!-- // close body -->
</body>
