<!-- views-partials/logo.ejs -->

<!-- Logo row -->

<!-- // remember body  has been opened-->
  <!-- // remember main div container has been opened-->  
    <div class="row justify-content-center mt-3 pt-3">
      <div class="col"></div>
      <div class="col-10"><img src= <%- siteSettings.logoImg %> class="d-block w-100 img-fluid img-rounded" alt= <%- siteSettings.logoImgAltText %> ></div>
      <div class="col"></div>
    </div>


