<!-- views-partials/logo.ejs -->

<!-- Logo row -->

<!-- // remember body  has been opened-->
  <!-- // remember main div container has been opened-->  
    <div class="row justify-content-center">
      <div class="col"></div>
      <div class="col-10"><img src= <%- siteSettings.logoImg %> class="d-block w-100 img-fluid img-custom img-rounded" alt= src= <%- siteSettings.logoAltText %> ></div>
      <div class="col"></div>
    </div>


