<!-- views-partials/month-toggler.ejs -->

<!-- // remember body  has been opened-->
  <!-- // remember main div container has been opened-->  
    <!-- Main row -->
    
    <div class="row my-2 justify-content-center">
      <div class="col">
          <p>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJan" aria-expanded="false" aria-controls="collapseJan">Gennaio</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseFeb" aria-expanded="false" aria-controls="collapseFeb">Febbraio</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMar" aria-expanded="false" aria-controls="collapseMar">Marzo</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseApr" aria-expanded="false" aria-controls="collapseApr">Aprile</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseMay" aria-expanded="false" aria-controls="collapseMay">Maggio</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJun" aria-expanded="false" aria-controls="collapseJun">Giugno</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseJul" aria-expanded="false" aria-controls="collapseJul">Luglio</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseAug" aria-expanded="false" aria-controls="collapseAug">Agosto</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseSep" aria-expanded="false" aria-controls="collapseSep">Settembre</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseOct" aria-expanded="false" aria-controls="collapseOct">Ottobre</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseNov" aria-expanded="false" aria-controls="collapseNov">Novembre</button>
            <button type="button" class="btn btn-sm btn-custom" data-bs-toggle="collapse" data-bs-target="#collapseDec" aria-expanded="false" aria-controls="collapseDec">Dicembre</button>
          </p>
          
      </div>
    </div>
